body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
  }

  header {
    display: flex;
    justify-content: space-around;
    width: 90%;
  }

  .card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }

  .card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  a {
    color: orangered;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
  }